
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
}

.app {
  display: flex;
}

.sidebar {
  display: grid;
  align-content: center;
  width: 300px;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color:  rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: fixed; /* Posición fija */
  top: 0; /* Alineado en la parte superior */
  left: 0; /* Alineado a la izquierda */
}

.sidebar button {
  color: #25899185;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
}

.dashboard {
  flex: 1;
  padding: 10px;
  margin-left: 200px; /* Para dejar espacio para el sidebar */
}

.cardone .cardtwo .cardthree .cardfour .cardfive .cardsix {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  background-color: #eee7e7e1;
}
img{
  height: 90px;
  width: 90px;
}

.card1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* Add this to your CSS */
.sidebar {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-evenly; /* Center horizontally within the sidebar */
  align-items: center;
  transition: transform 0.3s ease;
  /* Additional styling for the sidebar */
}

.sidebar.hidden {
  transform: translateX(-100%); /* Hide sidebar by moving it out of view */
}
/* Style for the toggle button */
.toggle-button {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: -6px -6px 12px #ffffff;
}

.arrow-image {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  cursor: pointer;
  margin-bottom: 5px;
  display: -webkit-inline-box;
}

/* App.css */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Set your desired width */
  height: 100%; /* Set your desired background color */
  z-index: 1000; /* Ensure the sidebar is above other elements */
  transition: transform 0.3s ease;
}

.app {
  margin-left: 250px; /* Adjust to match the sidebar width */
  transition: margin-left 0.3s ease;
}

.map-container {
  z-index: 1; /* Make sure the map is below the sidebar */
}

.leaflet-container {
  height: 500px;
  width: 900px;
  z-index: 1;
}

.title-app {
  font-size: 30px;
  font-weight: 170px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

/* Rest of your existing CSS styles */

a {
  all: unset;
}

.HoverCardContent {
  border-radius: 6px;
  padding: 20px;
  width: 250px;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 1000;
}
.HoverCardContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.HoverCardContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.HoverCardContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.HoverCardArrow {
  fill: white;
}

.ImageTrigger {
  cursor: pointer;
  border-radius: 100%;
  display: inline-block;
}
.ImageTrigger:focus {
  box-shadow: 0 0 0 2px white;
}

.Image {
  display: block;
  border-radius: 100%;
}
.Image.normal {
  width: 45px;
  height: 45px;
}
.Image.large {
  width: 60px;
  height: 60px;
}

.Text {
  margin: 0;
  color: var(--mauve-12);
  font-size: 15px;
  line-height: 1.5;
}
.Text.faded {
  color: var(--mauve-10);
}
.Text.bold {
  font-weight: 500;
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
